<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <h3>details</h3><br>
    <li>id : {{detail.id}} </li><br>
    <li>Username : {{detail.username}}</li> <br>
    <li>Address : {{detail.address}}</li> <br>
    <li>Email : {{detail.email}} </li>  <br>
    <a href="/{{detail.id}}/update">update</a>
    <a href="/{{detail.id}}/delete">delete</a>
    

</body>
</html>