<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>
        .box{
            height: 200px;
            width: auto;
            margin: 30px;
          
            }
        a{
            text-decoration: none;
            margin-left: 80px;
        }

    </style>
</head>
<body>
    <h4>Welcome to home</h4>
    <a href="/login">login</a>
    <a href="/logout">logout</a>
    <a href="/signup">signup</a>
    
    
    {% for i in userdetail %}
        <div class="box">
           <li>id : {{i.id}} </li><br>
           <li>username : {{i.username}} </li><br>
           <li>email : {{i.email}} </li><br>
           <li>address : {{i.address}}</li><br>
            <a href="/{{i.id}}/"> details</a>
        </div>
    {% endfor %}
    
</body>
</html>