<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="">Email : </label><input type="email" name="username" placeholder="Enter your Email" required=""><br><br>
        <label for="">Password : </label><input type="password" name="password" required=""><br><br>
        <input type="submit" value="submit">

    </form>
</body>
</html>