<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verifytoken</title>
    <style>
        form{margin: 10px;}
    </style>
</head>
<body>
    please verify your token here by clicking submit
    <form action="/verifytoken/" method="POST">
        {%csrf_token%}
        access token
        <input type="hidden" value="{{token.access}}" name="token">
        <input type="submit" value="submit">
    </form>
    <br>
    <form action="/token/refresh/" method="POST">
        {%csrf_token%}
        refresh token
        <input type="hidden" value="{{token.refresh}}" name="refresh">
        <input type="submit" value="submit">
    </form>
    after verification please go back to 127.0.0.0.1:8000/home

</body>
</html>